PORT="{{ ansible_memcached_port }}"
USER="{{ ansible_memcached_user }}"
MAXCONN="{{ ansible_memcached_max_conn }}"
CACHESIZE="{{ ansible_memcached_cache_size }}"
OPTIONS="{{ ansible_memcached_options }}"
